<% provide(:title, "Add Card") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for @card do |f| %>
<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>
<%= f.label :description %>
<%= f.text_field :description, class: 'form-control' %>
<%= f.label :card_type %>
<%= f.text_field :card_type, class: 'form-control' %>
<%= f.label :logo_url %>
<%= f.text_field :logo_url, class: 'form-control' %>
<%= f.label :signup_bonus_spend_required %>
<%= f.text_field :signup_bonus_spend_required, class: 'form-control' %>
<%= f.label :signup_bonus_points_earned %>
<%= f.text_field :signup_bonus_points_earned, class: 'form-control' %>
<%= f.label :annual_fee %>
<%= f.text_field :annual_fee, class: 'form-control' %>
<%= f.label :gas_points_multi %>
<%= f.text_field :gas_points_multi, class: 'form-control' %>
  <%= f.submit "Edit", class: "btn btn-primary" %>
<% end %>
</div>
</div>


<!--t.string :name
t.string :description
t.string :card_type
t.string :logo_url
t.integer :signup_bonus_spend_required
t.integer :signup_bonus_points_earned
t.float :annual_fee
t.integer :gas_points_multi
t.integer :gas_points_limit
t.integer :gas_points_multi_limit
t.integer :grocery_points_multi
t.integer :grocery_points_limit
t.integer :grocery_points_multi_limit
t.integer :dining_point_multi
t.integer :dining_points_limit
t.integer :dining_points_multi_limit
t.integer :hotel_points_multi
t.integer :hotel_points_limit
t.integer :hotel_points_multi_limit
t.integer :airfare_points_multi
t.integer :airfare_points_limit
t.integer :airfare_points_multi_limit
t.integer :other_points_multi
t.integer :other_points_limit
t.integer :other_points_multi_limit
t.float :point_value
t.integer :sign_up_bonus_cash
t.float :gas_cash_rate
t.integer :gas_cash_limit
t.float :gas_cash_multi_limit
t.float :grocery_cash_rate
t.integer :grocery_cash_limit
t.float :grocery_cash_multi_limit
t.float :dining_cash_rate
t.integer :dining_cash_limit
t.float :dining_cash_multi_limit
t.float :hotel_cash_rate
t.integer :hotel_cash_limit
t.float :hotel_cash_multi_limit
t.float :airfare_cash_rate
t.integer :airfare_cash_limit
t.float :airfare_cash_multi_limit
t.float :other_cash_rate
t.integer :other_cash_limit
t.float :other_cash_multi_limit-->
