<% provide(:title, "Add Card") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for @card do |f| %>
<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>
<%= f.label :description %>
<%= f.text_field :description, class: 'form-control' %>
<%= f.label :card_type %>
<%= f.text_field :card_type, class: 'form-control' %>
<%= f.label :logo_url %>
<%= f.text_field :logo_url, class: 'form-control' %>
<%= f.label :signup_bonus_spend_required %>
<%= f.text_field :signup_bonus_spend_required, class: 'form-control' %>
<%= f.label :signup_bonus_points_earned %>
<%= f.text_field :signup_bonus_points_earned, class: 'form-control' %>
<%= f.label :annual_fee %>
<%= f.text_field :annual_fee, class: 'form-control' %>
<%= f.label :gas_points_multi %>
<%= f.text_field :gas_points_multi, class: 'form-control' %>
<%= f.label :gas_points_limit %>
<%= f.text_field :gas_points_limit, class: 'form-control' %>
<%= f.label :gas_points_multi_limit %>
<%= f.text_field :gas_points_multi_limit, class: 'form-control' %>
<%= f.label :grocery_points_multi %>
<%= f.text_field :grocery_points_multi, class: 'form-control' %>
<%= f.label :grocery_points_limit %>
<%= f.text_field :grocery_points_limit, class: 'form-control' %>
<%= f.label :grocery_points_multi_limit %>
<%= f.text_field :grocery_points_multi_limit, class: 'form-control' %>
<%= f.label :dining_point_multi %>
<%= f.text_field :dining_point_multi, class: 'form-control' %>
<%= f.label :dining_points_limit %>
<%= f.text_field :dining_points_limit, class: 'form-control' %>
<%= f.label :dining_points_multi_limit %>
<%= f.text_field :dining_points_multi_limit, class: 'form-control' %>
<%= f.label :hotel_points_multi %>
<%= f.text_field :hotel_points_multi, class: 'form-control' %>
<%= f.label :hotel_points_limit %>
<%= f.text_field :hotel_points_limit, class: 'form-control' %>
<%= f.label :hotel_points_multi_limit %>
<%= f.text_field :hotel_points_multi_limit, class: 'form-control' %>
<%= f.label :airfare_points_multi %>
<%= f.text_field :airfare_points_multi, class: 'form-control' %>
<%= f.label :airfare_points_limit %>
<%= f.text_field :airfare_points_limit, class: 'form-control' %>
<%= f.label :airfare_points_multi_limit %>
<%= f.text_field :airfare_points_multi_limit, class: 'form-control' %>
<%= f.label :other_points_multi %>
<%= f.text_field :other_points_multi, class: 'form-control' %>
<%= f.label :other_points_limit %>
<%= f.text_field :other_points_limit, class: 'form-control' %>
<%= f.label :other_points_multi_limit %>
<%= f.text_field :other_points_multi_limit, class: 'form-control' %>
<%= f.label :point_value %>
<%= f.text_field :point_value, class: 'form-control' %>
<%= f.label :sign_up_bonus_cash %>
<%= f.text_field :sign_up_bonus_cash, class: 'form-control' %>
<%= f.label :gas_cash_rate %>
<%= f.text_field :gas_cash_rate, class: 'form-control' %>
<%= f.label :gas_cash_limit %>
<%= f.text_field :gas_cash_limit, class: 'form-control' %>
<%= f.label :gas_cash_multi_limit %>
<%= f.text_field :gas_cash_multi_limit, class: 'form-control' %>
<%= f.label :grocery_cash_rate %>
<%= f.text_field :grocery_cash_rate, class: 'form-control' %>
<%= f.label :grocery_cash_limit %>
<%= f.text_field :grocery_cash_limit, class: 'form-control' %>
<%= f.label :grocery_cash_multi_limit %>
<%= f.text_field :grocery_cash_multi_limit, class: 'form-control' %>
<%= f.label :dining_cash_rate %>
<%= f.text_field :dining_cash_rate, class: 'form-control' %>
<%= f.label :dining_cash_limit %>
<%= f.text_field :dining_cash_limit, class: 'form-control' %>
<%= f.label :dining_cash_multi_limit %>
<%= f.text_field :dining_cash_multi_limit, class: 'form-control' %>
<%= f.label :hotel_cash_rate %>
<%= f.text_field :hotel_cash_rate, class: 'form-control' %>
<%= f.label :hotel_cash_limit %>
<%= f.text_field :hotel_cash_limit, class: 'form-control' %>
<%= f.label :hotel_cash_multi_limit %>
<%= f.text_field :hotel_cash_multi_limit, class: 'form-control' %>
<%= f.label :airfare_cash_rate %>
<%= f.text_field :airfare_cash_rate, class: 'form-control' %>
<%= f.label :airfare_cash_limit %>
<%= f.text_field :airfare_cash_limit, class: 'form-control' %>
<%= f.label :airfare_cash_multi_limit %>
<%= f.text_field :airfare_cash_multi_limit, class: 'form-control' %>
<%= f.label :other_cash_rate %>
<%= f.text_field :other_cash_rate, class: 'form-control' %>
<%= f.label :other_cash_limit %>
<%= f.text_field :other_cash_limit, class: 'form-control' %>
<%= f.label :other_cash_multi_limit %>
<%= f.text_field :other_cash_multi_limit, class: 'form-control' %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
</div>
</div>


<!--t.string :name
t.integer :sign_up_bonus_cash

t.float :hotel_cash_rate
t.integer :hotel_cash_limit
t.float :hotel_cash_multi_limit
t.float :airfare_cash_rate
t.integer :airfare_cash_limit
t.float :airfare_cash_multi_limit
t.float :other_cash_rate
t.integer :other_cash_limit
t.float :other_cash_multi_limit-->
